<!-- Adaptado de https://gist.github.com/ollytheninja/8498790 -->


pre {
	overflow: auto;
	
	margin: .75rem 0;
	padding: .5rem;

	font-size: .875em;
	white-space: pre;
	
	background-color: #f8f8f8;
	border: 1px solid #ccc;
	border-radius: 3px;
}
h1,h2,h3,h4,h5,h6 {
	line-height: 1;
	margin: 0;
	margin-top: 1.5rem;
	text-rendering: optimizeLegibility;
}

h1 { font-size: 2.75rem; }
h2 { font-size: 2rem; }
h3 { font-size: 1.65rem; background-color: #f0f0f0;}
h4 { font-size: 1.25rem;  }
h5 { font-size: 1.1rem; }
h6 { font-size: 1rem; }

h2 em, h3 em{
	color:grey;
}